################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/raytracer/.vs/raytracer
/raytracer/x64
/output/